snippet vp
	validates :${1:title}, :presence => true${2}
snippet vu
	validates :${1:title}, :uniqueness => true${2}
snippet vi
	validates :${1:title}, :inclusion => {:in => ${2:[]}}${3}
snippet bt
	belongs_to :${1:object}
snippet btp
	belongs_to :${1:object}, :polymorphic => true${2}
snippet hm
	has_many :${1:object}
snippet hmt
	has_many :${1:object}, :through => :${2:object}
snippet hmp
	has_many :${1:object}, :as => :${2:object}
snippet ho
	has_one :${1:object}
